.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  // .ant-checkbox-wrapper {
  //   .ant-checkbox {
  //     &.ant-checkbox-checked {
  //       .ant-checkbox-inner {
  //         background-color: #ee5684;
  //         border-color: #ee5684;
  //       }

  //       &:hover {
  //         .ant-checkbox-inner {
  //           background-color: #ee5684;
  //           border-color: #ee5684;
  //         }
  //       }
  //     }

  //     &:hover {
  //       .ant-checkbox-inner {
  //         border-color: #ee5684;
  //       }
  //     }
  //   }

  //   &:hover {
  //     .ant-checkbox {
  //       .ant-checkbox-inner {
  //         border-color: #ee5684;
  //       }
  //     }
  //   }
  // }
}
