@import '../../styles/breakpoints';

.LoginPage {
  width: 100%;
  min-height: 100vh;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--auth-bg);

  @media screen and (max-width: ($tablet - 1px)) {
  }
}
