@import '../../styles/breakpoints';

.SignUpForm {
  width: 100%;
  max-width: 600px;
  padding: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 12px;
  background-color: #fff;
}

.FormTitle {
  font-weight: bold;
  font-size: 32px;
  line-height: 125%;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.FormRegisterItem {
  margin-bottom: 0;
}

.SignUpInput {
  padding: 8px 11px;
  &:active,
  &:hover,
  &:focus {
    border-color: var(--main-bg) !important;
  }
}

.SubmitSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.SignUpBtn {
  background-color: #ee5684;
  height: 40px;
  font-weight: bold;
  text-transform: uppercase;

  &:hover {
    background-color: #ee5684 !important;
    width: 100%;
  }

  &:disabled {
    &:hover {
      background-color: unset !important;
    }
  }
}

.SignInLink {
  a {
    color: #ee5684;
    font-weight: bold;
    text-transform: uppercase;
    &:hover {
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: ($tablet - 1px)) {
  .SignUpForm {
    padding: 24px 16px;
  }

  .FormTitle {
    font-size: 24px;
  }

  .FormItem {
    width: 100%;
    margin-bottom: 16px;
  }

  .FormRegisterItem {
    width: 100%;
    margin-bottom: 16px;
  }

  .SubmitSection {
    flex-direction: column;
    align-items: flex-start;
  }

  .SignUpBtn {
    width: 100%;
  }
}
