@import '../../styles/breakpoints';

.SignInForm {
  width: 100%;
  max-width: 600px;
  padding: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #fff;
  border-radius: 12px;
}

.FormTitle {
  font-weight: bold;
  font-size: 32px;
  line-height: 125%;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.FormLoginItem {
  margin-bottom: 0;
}

.SignInInput {
  padding: 8px 11px;
  &:active,
  &:hover,
  &:focus {
    border-color: var(--main-bg) !important;
  }
}

.Checkbox {
  :global .ant-checkbox-checked {
    .ant-checkbox-inner {
      background-color: #ee5684;
      border-color: #ee5684;
    }
    &:hover {
      .ant-checkbox-inner {
        background-color: #ee5684;
        border-color: #ee5684;
      }
    }
  }

  &:hover {
    :global .ant-checkbox {
      .ant-checkbox-inner {
        border-color: #ee5684;
      }
      &.ant-checkbox-checked {
        .ant-checkbox-inner {
          border-color: #ee5684;
          background-color: #ee5684;
        }
      }
    }
  }
}

.SubmitSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.LoginBtn {
  background-color: #ee5684;
  height: 40px;
  font-weight: bold;

  &:hover {
    background-color: #ee5684 !important;
    width: 100%;
  }

  &:disabled {
    &:hover {
      background-color: unset !important;
    }
  }
}

.SignUpLink {
  a {
    color: #ee5684;
    font-weight: bold;
    &:hover {
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: ($tablet - 1px)) {
  .SignInForm {
    padding: 24px 16px;
  }

  .FormTitle {
    font-size: 24px;
  }

  .FormItem {
    width: 100%;
    margin-bottom: 16px;
  }

  .FormLoginItem {
    width: 100%;
    margin-bottom: 16px;
  }

  .SubmitSection {
    flex-direction: column;
    align-items: flex-start;
  }

  .LoginBtn {
    width: 100%;
  }
}
